name: Build
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        java: [8, 11, 17]
    runs-on: ubuntu-22.04
    container:
      image: eclipse-temurin:${{ matrix.java }}
      options: --user root
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1
      - name: Build with Gradle
        run: |
         chmod +x gradlew
         ./gradlew build --stacktrace
      - name: Archive test results
        if: "${{ always() }}"
        uses: actions/upload-artifact@v3
        with:
          name: "test-results-java${{ matrix.java }}"
          path: |
            build/reports/
            */build/reports/
            build/test-results/**/*.xml
      - name: Codecov
        uses: codecov/codecov-action@v3.1.1
  publish-test-results:
    runs-on: ubuntu-22.04
    needs: [build]
    if: success() || failure()
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          path: artifacts
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2.4.1
        with:
          check_name: Test Results
          files: artifacts/*/build/test-results/**/*.xml
