name: Build
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        java: [8, 11, 17]
    runs-on: ubuntu-20.04
    container:
      image: openjdk:${{ matrix.java }}-jdk
      options: --user root
    steps:
      - uses: actions/checkout@v1
      - uses: gradle/wrapper-validation-action@v1
      - run: ./gradlew build --stacktrace
      - name: Archive test results
        if: "${{ always() }}"
        uses: actions/upload-artifact@v2
        with:
          name: "test-results-java${{ matrix.java }}"
          path: |
            build/reports/
            */build/reports/
            build/test-results/**/*.xml
      - name: Codecov
        uses: codecov/codecov-action@v3.1.0
  publish-test-results:
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      issues: write
      pull-requests: write
      checks: write
    if: success() || failure()
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          check_name: Test Results
          files: artifacts/*/build/test-results/**/*.xml
