name: Publish Snapshot
on: [push, pull_request]
jobs:
  publish:
    if: ${{ github.repository_owner == 'QuiltMC' && contains(github.ref_name, 'develop') }}
    runs-on: ubuntu-22.04
    container:
      image: eclipse-temurin:17
      options: --user root
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1
      - run: |
        chmod +x gradlew
        ./gradlew publish --stacktrace
        env:
          SNAPSHOTS_URL: ${{ secrets.SNAPSHOTS_URL }}
          SNAPSHOTS_USERNAME: ${{ secrets.SNAPSHOTS_USERNAME }}
          SNAPSHOTS_PASSWORD: ${{ secrets.SNAPSHOTS_PASSWORD }}